body {
    background-color: #eaf6f6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}